body{
	margin: 0; padding: 0;
	background-color: black;
	text-transform: uppercase;
}
header{
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 40px;
	position: fixed;
}
.logo{
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-left: 5%;
	margin-top: 20px;
}
.logoimg{
	/* position: absolute; */
	margin-top: -30px;
}
.logotext{
	margin-left: 3%;
}
.menu{
	margin-top: -22px;
}
.menuline{
	width: 23px;
	height: 1px;
	margin-top: -11px;
	background-color: white;
	margin-left: 93%;
}
.line{
	width: 1%;
	margin-left: 93.3%;/* спорный момент */
}
body header div.logo a{
	color: white;
	text-decoration: none;/* спорный момент */
}