body{
	margin: 0; padding: 0;
	background-color: black;
	text-transform: uppercase;
}
header{
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 40px;
	position: fixed;
}
.logo{
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-left: 5%;
	margin-top: 20px;
}
.logoimg{
	position: absolute;
	margin-top: -30px;
}
.logotext{
	margin-left: 3%;
}
.menu{
	margin-top: -22px;
}
.menuline{
	width: 1.7%;
	height: 1px;
	margin-top: -10px;
	background-color: white;
	margin-left: 93%;
}
.line{
	width: 1.2%;
	margin-left: 93.2%;/* спорный момент */
}