.logotext{
	margin-left: 6%;
}
.line{
	width: 1.3%;
	margin-left: 93.9%;/* спорный момент */
}
.home{
	position: absolute;
	margin-left: 19.8%;
	margin-top: 72px;
}
body{
	visibility: hidden;
	/* content: "Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.";
	color: white; */
}